body {
	font-family: 'Pragati Narrow', sans-serif;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #000000;
	background: #242424;
}
.main-header {
	background: orange; /* для построение сеток, в дальнейшем удалить*/
}
.container {
	background: grey; /* для построение сеток, в дальнейшем удалить*/
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;	
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
.main-navigation {
	background: red; /* для построение сеток, в дальнейшем удалить*/
	float: left;
	width: 780px;
	
}
.user-block {
	background: green; /* для построение сеток, в дальнейшем удалить*/
	float: right;
	width: 140px;	
}
/* main class="container */
.breadcrumbs {
	background: red;
	width: 480px;
	margin-bottom: 50px;
}
.selection-goods {
	background: green; /* для построение сеток, в дальнейшем удалить*/
	width: auto;
}
.selection {
	background: red; /* для построение сеток, в дальнейшем удалить*/
	float: left;
	width: 230px;
	margin-right: 10px;
}
.goods-loaded img {
	width: 220px;
	height: 165px;
}
.catalog-goods {
	background: red; /* для построение сеток, в дальнейшем удалить*/
	float: right;
	width: 700px;
	margin-bottom: 44px;
	text-align: center;
}
.catalog-goods .goods-loaded {
	background: #ffffff;
	display: block;
	width: 220px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.goods-loaded:nth-child(3) {
	margin-right: 0px;
}
.goods-loaded:nth-child(6) {
	margin-right: 0px;
}
.pl-item {
	display: block;
	float: left;
}
.pli-link {
	background: white; /* для построение сеток, в дальнейшем удалить*/
	display: inline-block;
	padding: 21.5px;
}
/*footer class="main-footer*/
.main-footer {
}
.footer-contacts {
	background: red; /* для построение сеток, в дальнейшем удалить*/
	float: left;
	width: 390px;
	margin-left: 0px;
	/*margin-top: 48px;
	margin-bottom: 48px;*/	
}
.footer-social {
	background: red; /* для построение сеток, в дальнейшем удалить*/
	float: left;
	width: 142px;
	margin-left: 10px;
	/*margin-top: 48px;	
	margin-bottom: 48px;*/
}
.footer-copyright {
	background: red; /* для построение сеток, в дальнейшем удалить*/
	float:right;
	width: 140px;
	/*margin-bottom: 48px;
	margin-top: 48px;*/	
}
/*catalog-item */
.catalog {
	background: green; /* для построение сеток, в дальнейшем удалить*/
	width: auto;
}
.catalog-item-big img {
	width: 461px;
	height: 500px;
}

.catalog-item img {
	width: 140px;
	height: 150px;
}

.photo {
	background: red; /* для построение сеток, в дальнейшем удалить*/
	float: left;
	width: 460px;
	text-align: center;
}
.photo .catalog-item-big{
	display: block;
	margin-bottom: 22px;
}
.photo .catalog-item {
	display: block;
	float: left;
	margin-left: 20px;
}
.catalog-item:nth-child(1) {
	margin: 0px;
	
	
}	
.catalog-item:nth-child(2) {
	margin-left: 0px;
	margin-top: -10px;
	margin-bottom: -4px;
	
}
.catalog-item:nth-child(3) {
	margin-top: -10px;
	margin-bottom: -4px;
	
}
.catalog-item:nth-child(4) {
	margin-top: -10px;
	margin-right: 0px;
	margin-bottom: -4px;
}
.info {
	background: red;
	float: right;
	width: 390px;
}